@{
    ViewData["Title"] = "Privacy Policy";
}



@Html.Partial("~/Views/Shared/partialPages/_Calculator.cshtml")

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



@Html.Partial("~/Views/Shared/partialPages/_employeeList.cshtml")
