


<form>
    <input type="number" placeholder="From Account number" class="form-control" />
    <input type="number" placeholder="To Account number" class="form-control" />
    <button class="btn btn-primary">Transfer</button>
</form>